body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.logo-text-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #0e0e10; /* Set a background color for better visibility */
}

.logo {
    width: 350px; /* Adjust the size of your logo */
    height: 200px;
    transition: transform 2s ease-in-out, opacity 1.5s ease-in-out;
}

.text,.get-started-button {
    position: absolute;
    opacity: 0;
    transform: translateY(300px);
    transition: background-color 2s ease, transform 2s ease-in-out, opacity 2s ease-in-out;
}

.get-started-button {
    border: 5em;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.3s ease;


    background: rgb(238,212,94);
    background: linear-gradient(65deg, rgba(238,212,94,1) 16%, rgba(45,100,158,1) 89%);
    padding: 0.7em 2em;
    border-radius: 65px;
    box-shadow: 1px 1px 10px rgba(255, 255, 255, 0.438);
    -webkit-transition: box-shadow 0.25s;
    transition: box-shadow 0.25s;
    color: rgb(14, 13, 13);
    
  }
  

  
  .get-started-button:after {
    content: "";
    border-radius: 18px;
    position: absolute;
    margin: 4px;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    
    
   
  }
  
  .get-started-button:hover {
    transition: all 2s;
    box-shadow: 0 12px 24px rgba(128, 128, 128, 0.1);
  }
  
  .get-started-button:hover .text {
    background: #0e0e10;

  }
 
  .get-started-button {
    position: absolute;
    opacity: 0;
    transform: translateY(300px);
    transition:  transform 2s ease-in-out, opacity 2s ease-in-out;}




@keyframes rotateLogo {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.ast{
    background: rgb(238,212,94);
    background: linear-gradient(65deg, rgba(238,212,94,1) 16%, rgba(45,100,158,1) 89%);
     -webkit-text-fill-color: transparent;
     -webkit-background-clip: text;
     font-family: 'Bebas Neue', sans-serif;
     font-size: 5rem;
}
